<!-- <mat-toolbar>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">Bestenliste</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Fertigkeiten</button>
      <button mat-menu-item>Letzte Aktivitäten</button>
      <button mat-menu-item>Abenteuer</button>
      <button mat-menu-item>Sesonale Events</button>
      <button mat-menu-item>Clan</button>
    </mat-menu>
  </span>
</mat-toolbar> -->

<button routerLink="/grandexchange">Grandexchange</button>
<button routerLink="/highscore">HIghscore</button>
