<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign=" start">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" start" >
        <mat-card>
            <mat-card-title>
              <img 
              [src]="" 
              [alt]=""
              [matTooltip]=""
              height="78" 
              width="78">
            </mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>
                Item Name
            </mat-card-title>
            <mat-card-subtitle>
                Kategorie
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" start" >
        <mat-card>
            <mat-card-title>
                Heute
            </mat-card-title>
            <mat-card-subtitle>
                %
            </mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-card-title>
               1 Woche
            </mat-card-title>
            <mat-card-subtitle>
                %
            </mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-card-title>
                1 Monat
            </mat-card-title>
            <mat-card-subtitle>
                %
            </mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-card-title>
                6 Monate
            </mat-card-title>
            <mat-card-subtitle>
                %
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" start" >
        <apx-chart
            [chart]="chart"
            [colors]="['#43E226']" 
            [stroke]="stroke"
            [markers]="markers"
            [series]="series"
            [dataLabels]="{enabled: false}"
            [fill]="fill1"
            [grid]="{borderColor: '#FFFFFF'}"
            [tooltip]="tooltip"
            [xaxis]="xaxis">
        </apx-chart> 
    </div>
</div>