<mat-tab-group animationDuration="500ms">
  <mat-tab label="Fertigkeiten">
    <mat-card>
      <mat-card-content>
        <app-highscore-stats></app-highscore-stats>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Letzte Aktivitäten">
    <mat-card>
      <mat-card-content>
        <app-highscore-activities></app-highscore-activities>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Abenteuer">
    <mat-card>
      <mat-card-content>
        <app-highscore-quests></app-highscore-quests>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Sesonale Liste">
    <mat-card>
      <mat-card-content>
        Empty
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Clan">
    <mat-card>
      <mat-card-content>
        <app-highscore-clan></app-highscore-clan>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>