<div gdGap="10px" gdAreas="empty-top-left  player-info | left-side-charts highscore ">
  <div gdarea="empty-top-left">
    <!-- LOGO -->
  </div>
  <div gdArea="player-info" div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px" style="min-width: 200px;">
    <mat-card>
      <mat-card-title>
        <img 
          [src]="avatarUrl" 
          height="78" 
          width="78">
      </mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Gesamtstufe
      </mat-card-title>
      <mat-card-subtitle>
        {{highscoreLight ? highscoreLight.totalLevel : '-'}}   
      </mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Ep
      </mat-card-title>
      <mat-card-subtitle>
        {{highscoreLight ? (highscoreLight.totalXp | number) : '-'}}
      </mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Rang
      </mat-card-title>
      <mat-card-subtitle>
        {{highscoreLight ? highscoreLight.totalRank : '-'}}
      </mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Kampfstufe
      </mat-card-title>
      <mat-card-subtitle>
        {{highscoreLight ? (highscoreLight.combatLevel | number:'1.0-0') : '-'}}
      </mat-card-subtitle>
    </mat-card>
        <mat-card>
            <mat-card-title>
                Clan
            </mat-card-title>
            <mat-card-subtitle>
                {{(clanName$ | async) != null && (clanName$ | async) != ''  ? (clanName$ | async) : '-'}}
            </mat-card-subtitle>
        </mat-card>
  </div>
  <div gdArea="left-side-charts" fxLayoutGap="10px" div fxLayout="column" fxLayoutAlign="start end">
    <mat-card style="height: 260px; width: 200px;">
      <mat-card-title style="text-align: center;">
        Fertigkeiten
      </mat-card-title>
      <mat-card-content>
        <app-highscore-stats-chart></app-highscore-stats-chart>
      </mat-card-content>
    </mat-card>
    <mat-card style="height: 260px; width: 200px;">
      <mat-card-title style="text-align: center;">
        Abenteuer
      </mat-card-title>
      <mat-card-content>
        <app-highscore-quests-chart></app-highscore-quests-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div gdArea="highscore" style="max-width: 850px; min-width: 200px;">
<!--     
    <mat-tab-group 
      [@.disabled]="true" 
      (selectedTabChange)="onChangeTab($event.index)"
      [selectedIndex]="selectedTabIndex">
      <mat-tab 
        *ngFor="let tab of tabs; let i = index" 
        [routerLink]="'/' +  tab[i]"
        label="{{tabDescs[i]}}">
      </mat-tab>
    </mat-tab-group> -->
    <mat-card>
        <mat-card-title>
            <nav mat-tab-nav-bar>
                <a 
                    mat-tab-link 
                    *ngFor="let tab of tabs; let i = index" 
                    [routerLink]="[tab,playerNameFragment]" 
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                    {{tabDescs[i]}}
                </a>
            </nav>
        </mat-card-title>
    </mat-card>

    <mat-card>
        <mat-card-title>
            <router-outlet></router-outlet>
        </mat-card-title>
    </mat-card>

  </div>
</div>
