<div gdGap="10px" gdAreas="empty-top-left  player-info  player-info | left-side-charts highscore highscore">
  <div gdarea="empty-top-left">
    <!-- LOGO -->
  </div>
  <div gdArea="player-info" div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px" style="min-width: 200px;">
    <mat-card>
      <mat-card-title>
        <img 
          [src]="avatarUrl" 
          height="78" 
          width="78">
      </mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Gesamtstufe
      </mat-card-title>
      <mat-card-subtitle>
        {{totalLevel ? totalLevel : '-'}}   
      </mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Erfahrungspunkte
      </mat-card-title>
      <mat-card-subtitle>
        {{totalXp ? (totalXp | number): '-'}}
      </mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Rang
      </mat-card-title>
      <mat-card-subtitle>
        {{rank ? rank: '-'}}
      </mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Kampfstufe
      </mat-card-title>
      <mat-card-subtitle>
        {{combatLevel ? (combatLevel  | number:'1.0-0'): '-'}}
      </mat-card-subtitle>
    </mat-card>
  </div>
  <div gdArea="left-side-charts" fxLayoutGap="10px" div fxLayout="column" fxLayoutAlign="start end">
    <mat-card style="height: 230px; width: 200px;">
      <mat-card-title style="text-align: center;">
        Fertigkeiten
      </mat-card-title>
      <mat-card-content>
        <app-highscore-stats-chart></app-highscore-stats-chart>
      </mat-card-content>
    </mat-card>
    <mat-card style="height: 230px; width: 200px;">
      <mat-card-title style="text-align: center;">
        Abenteuer
      </mat-card-title>
      <mat-card-content>
        <app-highscore-quests-chart></app-highscore-quests-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div gdArea="highscore" style="min-height: 1000px; max-width: 850px; min-width: 200px;">
    <mat-card>
      <mat-card-title>
        <nav mat-tab-nav-bar animationDuration="500ms">
          <a mat-tab-link
            *ngFor="let navLink of navLinks"
            [routerLink]="playerName + navLink.link"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">  
              {{navLink.label}}  
          </a>
        </nav>
        <mat-card>
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>
      </mat-card-title>
    </mat-card>
  </div>
</div>
