.mat-cell {
    padding-left: 10px;
    padding-right: 10px;
} 
.mat-header-cell {
    padding-left: 10px;
    padding-right: 10px;
}

.mat-column-date {
    width: 150px;
    flex: none;
}

.mat-column-text {
    width: 225px;
    flex: none;
}

table {
    width: 100%;
    max-width: 800px;
}

mat-card {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 110px;
}