.mat-cell {
    padding-left: 10px;
    padding-right: 10px;
} 
.mat-header-cell {
    padding-left: 10px;
    padding-right: 10px;
}

.mat-column-date {
    width: 50px;
    flex: none;
}

.mat-column-text {
    width: 200px;
    flex: none;
}

.mat-column-details {
    width: 300px;
    flex: none;
}

table {
    width: 100%;
}

mat-card {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 110px;
}