<div fxLayout="column" fxLayoutAlign=" start" fxLayoutGap="10px">
    <mat-card>
        <mat-card-title>
            textbox here
        </mat-card-title>
        <mat-card-content style="min-height: 500px;">
            <div fxLayout="column" fxLayoutAlign=" start" fxLayoutGap="5px">
                <app-grandexchange-list-item></app-grandexchange-list-item>
                <app-grandexchange-list-item></app-grandexchange-list-item>
                <app-grandexchange-list-item></app-grandexchange-list-item>
                <app-grandexchange-list-item></app-grandexchange-list-item>
            </div>
        </mat-card-content>
    </mat-card>
</div>