<apx-chart *ngIf="!isFetchingData && !isRuneMetricsProfilePrivate && stats"
    [chart]="{
        show: false,
        type: 'radialBar', 
        redrawOnParentResize: false, 
        height: 275,
        offsetY: -25,
        foreColor: '#FFFFFF',
        fontFamily: 'El Messiri',
        animations: {
            enabled: true,
            speed: 3750
        }
    }"
    [stroke]="{lineCap: 'round'}"
    [colors]="['#43E226', '#00C86D', '#00AA8F']"
    [series]="series"
    [labels]="labels"
    [plotOptions]="plotOptions"
    [grid]="{
        padding: {
            left: 0,
            right: 0
        }
    }">
</apx-chart>

<div class="mat-spinner-div">
  <mat-spinner *ngIf="isFetchingData">
  </mat-spinner>
</div>